.page {
    width: 1500px;
    margin: auto;
    padding: 80px;
    padding-tdop: 10px;
    background-color: #FAEBD7;
    color: #3A3B3C;
    font-size: 30px;}

body {
	background-color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    color: #3A3B3C;
    align-content: center;}

    {box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/

    .column {
    float: left;
    width: 60%;
    }
	
    .column2 {
    float: left;
    width: 35%;
    }
  
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

#map {
	top:10px;
	bottom: 10px; 
	left: 20px;
	right: 20px;
	
	/*height: 1000px;
	width: 800px;*/
}

