.page {
    width: 1500;
    margin: auto;
    padding: 60px;
    padding-tdop: 10px;
    background-color: #FAEBD7;
  font-size: 20px;}

body {
	background-color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    align-content: center;}

    {box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/

    .column {
    float: left;
    width: 50%;
    }
  
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

