body {
	background-color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    align-content: center;}

    {box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/

.column {
float: left;
width: 50%;
}
  
.row:after {
content: "";
display: table;
clear: both;
}

.page {
    width: 1000px;
    margin: auto;
    padding: 40px;
    padding-top: 10px;
    background-color: papayawhip;
}

#scatter_plot {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.lw { font-size: 60px; }
.lv { font-size: 20px;}
